.MessagesList {
  list-style-type: none;
  max-width: 600px;
  .MessageBox {
    .message-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        max-height: 140px;
        max-width: 140px
      }
    }
    .message-body {
      font-family: serif;
    }
  }
}
